::-moz-focus-inner {
  border: 0;
}

.button {
  background: none;
  border: none;
  cursor: pointer;

  &, &:focus {
    padding: 0;
    outline: none;
  }
}

a {
  outline: none;
  text-decoration: none;
  cursor: pointer;
}
